secrets/*
!secrets/certs
secrets/certs/index.txt*
secrets/certs/serial*
secrets/certs/configs/*
!secrets/certs/configs/*.conf.example
secrets/certs/output/*
!secrets/certs/output/.gitkeep

configmaps/*
!configmaps/*.example

configs/*
!configs/*.example
!configs/conf.d/
configs/conf.d/*
!configs/conf.d/*.example

nginx-pod.yaml
